# Statistical tests - Exercise 3

In [5]:
import pandas as pd
from scipy import stats

# load the data
hes = pd.read_csv('../data/HES_cut.csv')

hes.columns.tolist()

['HREF_NO',
 'PC_DIST_MTHLY_HH_EXP_H122',
 'PC_HH_TINC_GTRF_E_NAV',
 'SEX',
 'TENANCY',
 'AGE',
 'MARITAL_ST',
 'HSE_TYPE',
 'RETIREE65_HH',
 'HQA']

    'PC_DIST_MTHLY_HH_EXP_H122',   # per-capita monthly household expenditure
    'PC_HH_TINC_GTRF_E_NAV',       # per-capita monthly household income
    'SEX',                         # sex of household head
    'TENANCY',                     # tenancy status
    'AGE',                         # age group of household head
    'MARITAL_ST',                  # marital status
    'HSE_TYPE',                    # household type
    'RETIREE65_HH',                # indicator: any retiree ≥ 65 in household
    'HQA'                          # highest qualification of household head

In [6]:
hes.head(5)

,HREF_NO,PC_DIST_MTHLY_HH_EXP_H122,PC_HH_TINC_GTRF_E_NAV,SEX,TENANCY,AGE,MARITAL_ST,HSE_TYPE,RETIREE65_HH,HQA
0,06E4201,1883.13,1309.0,2.0,1,7,4.0,6,1,6
1,SJOB001,1638.98,6926.5,2.0,1,5,2.0,4,0,7
2,SJOB001,1638.98,6926.5,1.0,1,4,2.0,4,0,7
3,0NLTZ01,1178.78,3012.4,1.0,1,6,2.0,2,0,2
4,0NLTZ01,1178.78,3012.4,2.0,1,5,2.0,2,0,3

In [2]:
hes.shape

(30016, 581)

## Question 1: Two-Sample t-Test

Task:

Compare mean per-capita monthly expenditure between retirees and non-retiree households.

State whether you assume equal variances (and justify), report the test statistic, p-value, and conclusion.

In [ ]:
import pandas as pd
from scipy import stats

# Define expenditure column and split by dummy variable
exp = 'PC_DIST_MTHLY_HH_EXP_H122'
nr_exp   = hes.loc[hes['RETIREE65_HH'] == 0, exp].dropna()

## Question 2: ANOVA on Income by Qualification Level

Let HQA (highest qualification; e.g. “No qual”, “Secondary”, “Tertiary”) be your factor, and test for differences in mean per-capita monthly income (PC_HH_TINC_GTRF_E_NAV).

In [ ]:
import pandas as pd
from scipy.stats import f_oneway


df = hes[['HQA', 'PC_HH_TINC_GTRF_E_NAV']].dropna()

## Question 3: Chi-Square Test 

HES: Examine whether MARITAL_ST (marital status) is independent of HSE_TYPE (housing type).

Build a contingency table and carry out the chi-square test.

In [14]:
import pandas as pd
from scipy.stats import chi2_contingency

# Select the two variables and drop missing
df = hes[['MARITAL_ST', 'HSE_TYPE']].dropna()

# Build contingency table

## Question 4: Simple Linear Regression

Task:

Fit an OLS model predicting Contributions From Persons Not Staying in Household Income ($) from expenditure.
- Use: HH_CONTRIBUTIONS_INC (Contributions From Persons Not Staying in Household Income) and PC_DIST_MTHLY_HH_EXP_H122 (expenditure).

Report R² and coefficient summary.

**Question**: What can be done to improve the regression's accuracy?

In [16]:
import statsmodels.formula.api as smf

# load the data
df = pd.read_csv('../data/merged_HES.csv')

## Question 5: Two-Sample t-Test on two Age groups

Pick any two AGE categories and run an independent t-test on expenditure.

In [19]:
import pandas as pd
from scipy.stats import ttest_ind